.container{
    display: grid;

    grid-gap: 3.5px;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "div1 div2 div3"
    "div4 div5 div6"
    "div7 div8 div9"
    "div10 div11 div12"
    ;
}
.caixa{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    
}
