.container{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3.5px;
    grid-template-areas: 
    "div1 div2 div3 div4"
    "div5 . . div6"
    ;
}
.caixa{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
.div1{
    background-image: url(./img/bigmom.png);
    background-position: center center;
    background-size: cover;
    grid-area: div1;
}
.div2{
    background-image: url(./img/kaido.jpg);
    background-position: center center;
    background-size: cover;
    grid-area: div2;
}
.div3{
    background-image: url(./img/logo.png);
    background-position: center center;
    background-size: cover;
    grid-area: div3;
}
.div4{
    background-image: url(./img/onepiece.jpeg);
    background-position: center center;
    background-size: cover;
    grid-area: div4;
}
.div5{
    background-image: url(./img/kimetsu.jpg);
    background-position: center center;
    background-size: cover;
    grid-area: div5;
}
.div6{
    background-image: url(./img/kimetsu2.jpg);
    background-position: center center;
    background-size: cover;
    grid-area: div6;
}
