body {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Inter', sans-serif;
}
.fundo {
    display: flex;
    background-color: rgba(255, 196, 0, 0.925);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.formulario{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 254, 0.315);
    box-shadow: 10px 10px 50px rgba(255, 30, 0, 0.553);
    border-radius: 100px;
    padding: 100px;
}
.formulario input {
    padding: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 5px;
    border-radius: 5px;
}
.formulario2Login{
    display: flex;
    background-color: rgba(255, 255, 254, 0.315);
    border-radius: 100px;
    flex-direction: column;
    box-shadow: 10px 10px 50px rgba(255, 0, 0, 0.553);
    padding: 100px
}
.formulario2Login  input {
    padding: 15px;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.text {
    background: transparent;
}
a{
    font-size: 24px;
    padding: 10px;
    color: black;
    margin: 10px;
    background-color: rgba(255, 255, 254, 0.315);
    border: 1px solid rgba(12, 11, 8, 0.315);
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.botoes{
    font-size: 14px;
    background-color: rgba(39, 39, 39, 0.438);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.botoes:hover{
    color: white;   
    background-color: #b62621c5;
}
